# Ignore data and large files
*.h5
*.fastq
*.bam
*.sam
*.tsv
*.csv
*.mtx
*.txt
*.h5ad

# Ignore analysis outputs
ncslc/*.txt
results/
data/

# Ignore Python artifacts
__pycache__/
.ipynb_checkpoints/
*.pyc

.DS_Store


# Large files
*.fa.gz
*.fasta.gz
*.vcf.gz
*.bed.gz
*.gtf.gz
*.bw
*.bai

*.pkl
*.model